
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
header strong {
  color: #d17ba0;
}
        body {
            color: black;
        }

        .topnav {
            display: flex;
            align-items: center;
            gap: 60px;
            background-color: rgb(255, 219, 228);
        }

        .topnav h1 {
            margin: 0;
        }

        .topnav a {
            text-decoration: none;
            color: black;
        }

        .banner {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .carrito {
            margin-left: auto;
            margin-right: 30px;
            font-size: 18px;
        }

        .contenedor-carrito {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 40px auto;
        }

        .mi-carrito {
            width: 60%;
        }

        .producto {
            display: flex;
            gap: 20px;
            border-bottom: 1px solid gray;
            padding: 20px 0;
        }

        .producto img {
            width: 130px;
        }

        .info-producto h3 {
            margin: 0 0 20px 0;
        }

        .cantidad {
            background-color: rgb(230, 230, 230);
            padding: 5px 10px;
            margin-left: 20px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }

        .cantidad button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }

        .resumen {
            width: 30%;
        }

        .linea-resumen {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        .total {
            font-weight: bold;
            font-size: 22px;
            border-top: 1px solid gray;
            padding-top: 15px;
        }

        .btn-comprar {
            width: 100%;
            background-color: rgb(74, 44, 51);
            color: black;
            padding: 15px;
            border: none;
            margin-top: 15px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn-comprar:hover {
            background-color: rgb(60, 35, 40);
        }


