
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("/images/WhatsApp Image 2026-08-29 at 4.08.19 PM.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .registro-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px, 20px;
    }
    form{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 30px;
        width: 55%;
        max-width: 700px;
    }
    .encabenzado{
        text-align: center;
        margin-bottom: 20px;
    }
    .ancho{
        grid-column: 1/3;
    }
    .campo input{
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #e8e8e8;
        box-sizing: border-box;
        margin-top: 5px;
    }
    .terminos label{ 
        font-size: 0.55rem;
    }
    .icono-registro{
        font-size: 4rem;
    }
    .enlace-vista{
     grid-column: 1/3;
       display: block;
       text-align: center;
       font-size: 0.60rem;
       margin-top: 20px;
    }
    button{ 
        grid-column: 1/3;
        display: block;
        width: 50%;
        padding: 12px;
        margin: 0px auto 0;
    }
    .logo{ 
        width: 20%;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .campo-pequeno input {
    width: 80%;
}
.campo select {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e8e8e8;
    box-sizing: border-box;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
